*{
    padding: 0;
    margin: 0;
}

.lato-regular{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.btn-primary{
    background-color: #E55473;
    color: #FFFFFF;
    border-radius: 8px;
    font-weight: bold;
    padding: 20px 43px;
    font-size: 20px;
    border: none;
}

/* Header */
header{
    height: 850px;
    max-width: 100%; 
    background-color: #E554731A;
    margin-bottom: 118px;
    
}
.all-header{
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    gap: 97px;
}

.left-part{
    width: 50% ;
    margin: 147px 0;
}

.heading{
    font-weight: 800px;
    font-size: 80px;
    color: #272727;

}
.paragraph{
    font-size: 18px;
    color: #272727;
    width: 634px;
    opacity: 60%;
    line-height: auto;
    padding: 32px 0 32px 0;
}

.flower-img{
    width: 50%;
    height: auto;
    margin-top: 50px;
    
}

/* Main section */

       /* Section 1 */

.description{
    max-width: 1440px;
    margin: 0 auto 48px auto;
    width: 595px;
    height: 132px;
}

.our-heading{
    font-weight: 800px;
    font-size: 40px;
    color: #272727;
    text-align: center;
}

.our-paragraph{
    font-weight: 400px;
    font-size: 18px;
    color: #272727;
    opacity: 60%;
    margin-top: 24px;
    text-align: center;
}

.card-container{
   max-width: 1440px;
   display: flex;
   gap: 24px;
   margin: 0 auto 128px auto ;
}

/* First card */
.first-card{
    max-width: 464px;
    max-height: 538px;
   background-color: #A7216226;
   border-top-left-radius: 232px; 
     border-top-right-radius: 232px; 
}
.first-card-img{
    max-width: auto;
    max-width: auto;
  overflow: hidden;
  padding: 110px 78px 0 76px;
  margin-bottom: 32px;

}

.flower-name{
     background-color: white;
    font-size: 24px;
     font-weight: 700;
   text-decoration: underline;
   display: flex;
   justify-content: center;
   align-items: center;
}

/* Second Card */

.second-card{
     max-width: 464px;
    max-height: 538px;
    background-color: #0597A026;
   border-top-left-radius: 232px; 
     border-top-right-radius: 232px; 
     
}
.second-card-img{
    max-width: auto;
    max-width: auto;
  overflow: hidden;
  padding: 117px 47px 51px 47px;
  margin-bottom: 32px;
}

/* Third Card */

.Third-card{
     max-width: 464px;
    max-height: 538px;
    background-color: #477D1126;
   border-top-left-radius: 232px; 
     border-top-right-radius: 232px; 
     
}
   
.Third-card-img{
     max-width: auto;
    max-width: auto;
  overflow: hidden;
  padding: 67px 75px 0px 75px;
  margin-bottom: 32px;

}

/* Section 2 */

.section-two{
    max-width: 1440px;
    height: 320px;
    margin: 0 auto 128px auto;
    background-color: #2727270D;
    display: flex;
    justify-content: center;
    align-items:center;
    border-radius: 8px;

}
.services{
    width: auto;
    display: flex;
    gap: 100px; 
  
}
.service1{
        width: auto;
        height: 147px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        justify-content: center;
        align-items: center;
}

.service-description{
    font-size: 24px;
    font-weight: 600;
    color: #272727CC;
    text-align: center;

}
.service2{
        width: auto;
        height: 147px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        justify-content: center;
        align-items: center;
}
.service3{
        width: auto;
        height: 147px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        justify-content: center;
        align-items: center;
}

 /* Section 3 */

 .section-three{

    background-color:#E554730D ;
    margin: 0 auto 128px auto;

 }
.discount{
    display: flex;
    gap: 186px;
    align-items: center;
    justify-content: center;
 }

 .dis-left{
    width:594px;
    height: 228px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
 }

 .dis-right{
    width: 318px;
    height: 420px;
    margin: 94px auto 106px 0;
 } 

 .dis-left h3{
    font-size: 40px;
    font-weight: 800;
    color: #272727;
 }

 .off-color{
    color: #E55473;
 }

 .dis-left p{
    width: 594px;
    font-size: 18px;
    font-weight: normal;
    color: #27272799;
    margin-top: 24px;
    margin-bottom: 32px;
    line-height: 30px;
    text-align: center;

 }

 /* Instagram Section */

 .parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

 }
.parent h3{
    font-size: 40px;
    font-weight: 800;
    color: #272727;
}
.parent p{
    width: 594px;
    font-size: 18px;
    font-weight: normal;
    color: #27272799;
    margin-top: 24px;
    margin-bottom: 48px;
    text-align: center;

}
.insta-img{
    max-width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 128px auto;
    gap: 24px;
}

